.lista-songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}

.item-lista-songs {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    text-align: center;
    width: 100%; 
    max-width: 420px; 
}

iframe {
    width: 100%; 
    height: 200px; 
}
